body {
    background: #e8eaf6;
}

#about {
    margin-top: 50px;
    padding-top:70px;
}

.color-main {
    background: #303f9f;
    color: #fff;
}

.text-jumbo {
    color: #fff !important; 
}

.project-container {
    padding-top: 25px;
    padding-bottom: 25px;
}